app = "profcharleno"
primary_region = "gru"

[build]

[env]
  NODE_ENV = "production"
  APP_URL = "https://profcharleno.fly.dev"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  size = "shared-cpu-1x"
  memory = "512mb"

[checks]
  [checks.health]
    port = 3000
    type = "http"
    interval = "30s"
    timeout = "5s"
    path = "/api/health"
    method = "GET"
    grace_period = "10s"
